@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=ZCOOL+QingKe+HuangYou&display=swap");

body {
  background-color: #1d1d1d;
  color: white;
  font-family: "Share Tech Mono", monospace;
}

header {
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: center;
  background-color: #010118;
  padding: 10px;
  justify-content: space-between;
}

span {
  display: flex;
  gap: 10px;
  font-weight: bold;
}

.auto-save-text {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.app-title {
  color: #fff;
  font-size: 27px !important;
  font-family: "ZCOOL QingKe HuangYou", cursive;
  font-weight: bolder;
  animation: text-blinker 10s linear infinite;
  text-shadow: 0 1px 0 #d83cc3, 0 2px 0 #6e31df, 0 3px 0 rgb(5, 38, 99),
    0 4px 0 #8c01b6, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

@keyframes text-blinker {
	70% {
		opacity: 0;
	}
}

.code-editor {
  min-height: 88vh;
  height: 88vh;
  min-width: 60vw;
  max-width: 60vw;
  background-color: #000701;
  border: 2px dashed white;
  border-radius: 10px;
  padding: 10px;
  margin: 8px;
  overflow: auto;
  color: rgb(1, 104, 238);
  font-weight: bolder;
  font-size: 17.5px;
}

main {
  display: flex;
  flex-direction: row;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.console-div,
.errors-log-div {
  border: 2px dashed white;
  border-radius: 10px;
  width: 35vw;
  height: 45vh;
  padding: 10px;
  overflow: auto;
}

.v-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sect-title {
  border-bottom: 2px dotted white;
}
